// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* universal */

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.section-padding {
    padding: 80px 0;
}

.user-information-form-wrap {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 23px 30px 30px;

    form .create-account {
        margin-top: 25px;
    }

    h4 {
        font-family: "Nunito Sans", sans-serif;
        color: #222222;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
    }

    .single-input-item {
        margin-top: 20px;

        .btn,
        button {
            width: 93px;
            height: 31px;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            box-shadow: none;
            transition: 0.4s;
            background-color: transparent;
        }

        .btn-default,
        .btn-confirm,
        .btn-reset {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            border-radius: 0;
            background-color: #87b106;
            padding: 4px 13px;
        }

        .btn-default:hover,
        .btn-confirm:hover,
        .btn-reset:hover {
            color: #fff;
            background-color: #222222;
        }

        input {
            color: #555555;
            border: 1px solid #ccc;
            padding: 12px 10px;
            width: 100%;
            font-size: 14px;
            background: #f7f7f7;
        }

        input:active,
        input:focus {
            border-color: #87b106;
            background-color: #fff;
        }

        select.form-control {
            height: 48.22px;
        }
    }
}
